<!--<?
  /*** Генерация title ***/
  if ($nc_core->page->get_title()) {
    $title = $nc_core->page->get_title();
  } else {
    $title_path['unactive'] = $title_path['active'] = "%NAME";
    $title_path['divider'] = " / ";
    $title_array = explode(" / ", nc_browse_path($title_path));
    $title = implode(" / ", array_reverse($title_array));
  }
  /***********************/
?>-->
<!doctype html>
<!--[if IE 7]><html class="ie7 lt-ie10 lt-ie9 lt-ie8 no-js" lang="ru"><![endif]-->
<!--[if IE 8]><html class="ie8 lt-ie10 lt-ie9 no-js" lang="ru"><![endif]-->
<!--[if IE 9 ]><html class="ie9 lt-ie10 no-js" lang="ru"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js" lang="ru"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Project</title>

    <!--<?=$nc_core->page->get_metatags()?>-->

    <meta content="telephone=no" name="format-detection">
    <meta name="robots" content="noodp, noydir">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="true">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">

    <!--[if IE 8 ]><link href="%=staticPrefix=%css/main_ie8.css" rel="stylesheet" type="text/css"><![endif]-->
    <!--[if IE 9 ]><link href="%=staticPrefix=%css/main_ie9.css" rel="stylesheet" type="text/css"><![endif]-->
    <!--[if (gt IE 9)|!(IE)]><!--><link href="%=staticPrefix=%css/main.css" rel="stylesheet" type="text/css"><!--<![endif]-->

    <link rel="icon" type="image/png" href="/favicon.ico">
    <script>
        (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)
    </script>
    <!--[if lt IE 9 ]>
        <script src="%=staticPrefix=%js/separate-js/html5shiv-3.7.2.min.js" type="text/javascript"></script>
        <script src="%=staticPrefix=%js/separate-js/respond.min.js" type="text/javascript"></script>
        <script src="%=staticPrefix=%js/separate-js/placeholders.min.js" type="text/javascript"></script>
        <meta content="no" http-equiv="imagetoolbar">
    <![endif]-->
</head>
<body>
  <div class="wrapper">

    {{> header/header}}

  </div>

  {{> footer/footer}}

  <script src="//code.jquery.com/jquery-1.12.2.min.js"></script>
  <script>window.jQuery || document.write('<script src="%=staticPrefix=%js/separate-js/jquery-1.12.2.min.js"><\/script>')</script>
  <script src="%=staticPrefix=%js/main.js"></script>
</body>
</html>