/******************************************************
  ICONS
 ******************************************************/
 .icn {
    &:before {
        content : '';
        display: inline-block;
        vertical-align: middle;
    }

    &.icn-bottom:before {
        vertical-align: bottom;
    }

    &.icn-top:before {
        vertical-align: top;
    }
}

/******************************************************
  GENERAL
 ******************************************************/
html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    padding-bottom: 500px;
}

.rubl {
    font-family: $ALSRublRegular;
}

/******************************************************
  MAIN STYLES
 ******************************************************/

.modal {
    &-backdrop {
        background-color: #000;

        @include media(xs) {
            display: none;
        }

        &.in {
            opacity: 0.6;
        }
    }

    .modal-dialog {
        @include media(sm) {
            margin-top: 100px;
            width: 635px;
        }

        @include media(xs) {
            width: 100%;
            margin: 0;
            height: 100%;
        }

        .modal-content {
            box-shadow: none;
            border: 0;
            padding: 0;
            background-color: #f9f9f9;

            @include media(xs) {
                min-height: 100%;
                border-radius: 0;
            }

            @include media(sm) {
                border-radius: 4px;
            }

            .modal-close {
                position: absolute;
                border: 0;

                @include media(xs) {
                    right: 5px;
                    top: 5px;
                    //@include bg($close_orange);
                }

                @include media(sm) {
                    right: -25px;
                    top: -25px;
                    @include bg($close);
                }
            }

            .modal-body {
                padding: 30px 0;

                .title {
                    font-size: 30px;
                    font-weight: bold;
                    margin-bottom: 30px;
                    text-align: center;
                    line-height: 1;

                    @include media(xs) {
                        padding: 0 10px;
                    }
                }

                .note {
                    font-style: italic;
                    margin-bottom: 30px;
                    text-align: center;
                    line-height: 1;
                }

                .form {
                    width: 250px;
                    margin: 0 auto;

                    .line {
                        margin-bottom: 10px;

                        &.submit {
                            text-align: center;
                            margin: 20px 0;
                        }

                        &.result {
                            text-align: center;
                        }

                        label {
                            line-height: 1;
                        }

                        textarea {
                            resize: none;
                            width: 100%;
                            height: 150px;
                        }

                        input[type="text"],
                        input[type="password"] {
                            width: 100%;
                            margin-bottom: 5px;
                        }

                        .bootstrap-select {
                            width: 100%;

                            .btn-default {
                                background-color: #fff;
                                padding: 10px 12px;
                                border: 1px solid #dfe2eb;
                                border-radius: 3px;
                                text-align: left;
                                font-size: 16px;
                            }

                            .dropdown-menu {
                                padding: 0;

                                ul.dropdown-menu {
                                    li {
                                        a {
                                            padding: 10px 12px;
                                            font-size: 16px;
                                            outline: none;
                                            @include nolink;

                                            &.notaviable {
                                                font-style: italic;
                                                color: #808080;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .bottom {
                    background-color: #edf0f9;
                    padding: 30px 0;
                }

                .loader {
                    display: block;
                    height: 32px;
                    background-image: url('%=staticPrefixForCss=%general/loading.gif');
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
        }
    }
}