@font-face {
    font-family: 'ALSRublRegular';
    src: url('../fonts/rouble.eot');
    src: local('ALS Rubl'), local('ALSRubl'), url('../fonts/rouble.woff') format('woff'), url('../fonts/rouble.ttf') format('truetype'), url('../fonts/rouble.svg#ALSRubl') format('svg')
}
$ALSRublRegular: 'ALSRublRegular', sans-serif;